@font-face {
    font-family: "Raleway";
    src: url("./Polices/Raleway-VariableFont_wght.ttf");
}

body{
    font-family: "Raleway", sans-serif ;
}


#bloc_page
{
    width: 1200px;
    margin: auto;
}

/*  HEADER  */

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

#logo{
    width: 70%;
}

#login a{
    text-decoration: none;
    font-weight: bold;
    color: blue;
}

/* #login a:visited{
    color: blue;
} */


nav ul{
    display: flex;
    list-style: none;
    margin: 0 15px 11px 0;
    padding: 0;
}

nav li{
    margin: 0 10px 0 15px;
    padding-top: 10px;
}

nav li a{
    text-decoration: none;
    color:black;
    padding-top: 15px;
}

nav li a:hover{
    color: blue;
    border-top: solid blue 2px;
}


/* TOP SECTION  */

#town_form{
    display: flex;
}

#filter_box{
    display: flex;
    align-items: center;
}

#filter_box li{
    display: flex;
}

#filter_list ul{
    display: flex;
    list-style: none;
}

#filter_list li{
    border-top: solid lightgrey 1px;
    border-bottom: solid lightgrey 1px;
    border-right: solid lightgrey 1px;
    margin: 0 5px;
    padding: 0;
    border-radius: 50px;
}

.filter_text{
    margin: 0;
    padding: 10px;

}

.filter_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin: 0;
    color:blue;
    background-color: lightblue;
    padding: 10px;
    border-radius: inherit;

}
/* OFFER SECTION */

#offer_section{
    display: flex;
    justify-content: space-between;
}

#offer_list{
    width : 800px;
    background-color: lightgrey;
    padding: 10px 30px 30px 30px;
    margin-right: 10px;
    border-radius: 10px;
}

#offers_box{
    display: flex;
    justify-content: space-between;   
    flex-wrap: wrap;
}

.offer_panels{
    width: 30%;
    height: 200px;
    background-color: white;
    margin: 10px;
    border-radius: 10px;
    position: relative;
}

.offer_description{
    background-color: white;
    height: 70px;
    width: 100%;
    position: absolute;
    bottom: 0;
    border-radius: 0 0 10px 10px;
}
#offer_hotspots{
    background-color: lightgrey;
    width: 350px;
    padding: 10px 30px;
}

#offer_pannel_1{
    background: url(./Images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
}

#offer_pannel_2{
    background: url(./Images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
}
#offer_pannel_3{
    background: url(./Images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg);
}
#offer_pannel_4{
    background: url(./Images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
}
#offer_pannel_5{
    background: url(./Images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
}
#offer_pannel_6{
    background: url(./Images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
}

/* ACTIVITY SECTION */

#activity_section{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 50px 0;
}


.activity_pannel_1{
    display: flex;
    flex-direction: column;
    width: 24%;
}


.activity_badge_1{
    height: 500px;
    background: url("./Images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg") no-repeat ;
    background-position: center;
    position: relative;
    border-radius: 10px;
    box-shadow: 3px 3px 3px lightgrey;

}

.activity_pannel_2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 24%;
}

.activity_badge_small_1{
    position: relative;
    display: flex;
    height: 265px;
    border-radius: 10px;
    background-color: cadetblue;
}

.activity_badge_smaller_1{
    position: relative;
    display: flex;
    height: 200px;
    border-radius: 10px;
    background-color: chocolate;
}
.activity_pannel_3{
    display: flex;
    flex-direction: column;
    width: 24%;
}

.activity_badge_3{
    height: 500px;
    background: url("./Images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg") no-repeat ;
    background-position: center;
    position: relative;
    border-radius: 10px;
    box-shadow: 3px 3px 3px lightgrey;
}

.activity_pannel_4{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 24%;
}

.activity_badge_small_2{
    position: relative;
    display: flex;
    height: 265px;;
    border-radius: 10px;
    background-color: cadetblue;
}

.activity_badge_smaller_2{
    position: relative;
    display: flex;
    height: 200px;
    border-radius: 10px;
    background-color: chocolate;
}

#activity_section h3{
    display: flex;
    position: absolute;
    bottom:0;
    background-color: white;
    width: 100%;
    height : 50px;
    margin: 0;
    border-radius: 0 0 5px 5px;
    align-items: center;
}




/* FOOTER */

footer{
    display: flex;
    align-items: flex start;
    background-color:lightgrey;
}

footer a{
    color:black;
    text-decoration: none;
}

footer div{
    display:flex;
    flex-direction: column;
    margin: 0 20px 0 0px;
    width: 30%;
}

footer ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: flex-start;
    font-size: 0.8em;
    padding: 0;
}

footer li{
    margin: 3px 0;
}